.login-form {
    margin: auto;
    max-width: 300px;
    margin-top: 5%;
  }
  .ant-input-affix-wrapper .ant-input {
    border: none;
    position: relative;
    text-align: inherit;
    min-height: 100%;
    border-bottom: 2px solid black;
}
.ant-input-affix-wrapper .ant-input:focus{
  border: none;
  box-shadow: none;
  border-bottom: 4px solid #2098D1 !important;
  transition: all ease 0.16s;
}
textarea.ant-input {
  border: none;
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5;
  vertical-align: bottom;
  -webkit-transition: all .3s,height 0s;
  transition: all .3s,height 0s;
  border-bottom: 2px solid black;
}
textarea.ant-input:focus{
  border: none;
  box-shadow: none;
  border-bottom: 4px solid #2098D1 !important;
  transition: all ease 0.16s;
}

  .login-form-forgot {
    float: center;
    color: #2098D1;

  }

  .login-form-button {
    width: 100%;
    border: none;
    
  }

 