<nav text-center class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><span class="icon-home"></span> About</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      
    </div>
  </nav>

<router-outlet></router-outlet>
<div id="footer"> 
    <blockquote class="blockquote text-center">
        <div id="contactos">
            <span class="icon-gmail"></span>
            <span class="icon-instagram1"></span>
            <span class="icon-github1"></span>
            <span class="icon-facebook"></span>
      
        </div>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
</div>
