<div class="loading" *ngIf="load">
  <h1 text-center>Enviando mail a su cuenta de correo.....</h1>
</div>
<div id="body" *ngIf="!load" data-spy="scroll"data-target="#navbarSupportedContent" (scroll)="onEventScroll($event)">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbaar">
     
     <span><strong style="color: greenyellow">{{ horario | date:'medium' }}</strong></span> 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link hvr-underline-from-left" (click)="scrollToElement(jumbo1)" data-toggle="collapse" data-target=" .navbar-collapse.show">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-underline-from-left"(click)="scrollToElement(piso)"data-toggle="collapse"data-target=" .navbar-collapse.show">Links</a>
        </li>
        <li class="nav-item">
                <a class="nav-link hvr-underline-from-left"(click)="scrollToElement(jumbo2)"data-toggle="collapse"data-target=" .navbar-collapse.show">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-underline-from-left"(click)="scrollToElement(myTabContent2)"data-toggle="collapse"data-target=" .navbar-collapse.show">Tecnologias<span class="sr-only">(current)</span></a>
       </li>
        <li class="nav-item">
            <a class="nav-link colorLink hvr-underline-from-left"(click)="scrollToElement(footer)"data-toggle="collapse"data-target=" .navbar-collapse.show">Portfolio<span class="sr-only">(current)</span></a>
        </li>
       
      </ul> 
     
    </div>
  
  </nav>
      <!---->
      <nz-alert id="alert2" *ngIf="alertCard2" nzType="info" nzMessage="Hecho" nzMessage="Su informacion fue guardada de forma segura" nzCloseable nzShowIcon></nz-alert>
      <nz-alert *ngIf="alertCard"
      nzType="success"
      nzCloseable
      nzMessage="Hecho"
      nzDescription="Email enviado correctamente."
      nzShowIcon
      [nzBanner]="true"
    >
    </nz-alert>
      <div class="content-page" id="bodycont" data-spy="scroll" data-target="#navbaar" data-offset="0">
        <div class="row">
            
          <div id="col1" class="col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              
                <div class="card-body">
                  <div id="cuadro">
                      <img id="yo" src="assets/yo.jpg"  alt="">
                  </div>
                  <h5 class="card-title">Hernan Dario Gomez</h5>
                  <h6 class="card-subtitle">Frontend Developer</h6>
                </div>
            </div>
          </div>
          <div id="col2" class="col-md-8 col-sm-12">
            <h1 style="color: white !important">About me</h1>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Desarrollador FrontEnd apasionado por la tecnologia web</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                <button type="button" class="btn btn-outline-dark hvr-underline-from-left  pmd-ripple-effect">More</button>
              </blockquote>
            
          </div>
        </div>
    
        <div id="header1">
          <app-carrousel></app-carrousel>
        </div>
        <div #jumbo1  class="jumbotron" >
         
           
            <blockquote class="blockquote text-center">
            <h1 class="display-3"><strong style="color: greenyellow !important">D</strong>esarrollador Frontend</h1>
            <div class="row" id="cartitas">
                <div class="col s12 m6">
                </div>
              
              </div>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <br>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-outline-dark hvr-underline-from-left" href="#" role="button">More</a>
            </p>
            </blockquote>
        </div>
        <div id="header">

        </div>
        <div #piso  class="col-md-12 col-sm-12">
            
          </div>
          <div id="col2" class="col-md-12 col-sm-12">
           
            <blockquote class="blockquote text-center">
                <h1 id="proyec" style="color: black"><strong>M</strong>is proyectos de Github</h1>
              <ul id="ulink">
                <li *ngFor="let link of links">
                      <h5 for="">{{link.name}}</h5>
                   <a  href="{{link.link}}">{{link.link}}</a>
                   <p>{{link.frame}}</p>
                   <br>
                      
                </li>
              </ul>
              
              </blockquote>
            
          </div>
          <div #jumbo2 class="jumbotron">
              <blockquote class="blockquote text-center">
               
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <br>
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <!-- <button [ngClass]="{'classabout':aboutMostrar}"  class="btn btn-outline-dark hvr-underline-from-left"(click)="aboutmeshow()">About</button> -->
              </p>
              </blockquote> 
          </div>
          <div #jumbo2 class="jumbotron" id="matrix">
              <blockquote class="blockquote text-center">
               
              </blockquote> 
          </div>
          <div #myTabContent id="myTabContent"  class="jumbotron">
            <blockquote class="blockquote text-center">
            <h1 class="display-3"><strong class="bvderde">D</strong>esarrollador!</h1>
            <p class="lead">apasionado por la tecnologìa , con ardua experiencia y una amplia trayectoria en el rubro IT.</p>
            <br>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              
            </blockquote>
          </div>
          <div #myTabContent2 id="myTabContent2"  class="jumbotron">
            <blockquote class="blockquote text-center">
            <h1 class="display-3"><strong class="bazul">T</strong>ecnologias</h1>
            <br>
            <hr id="hr1">
            <div id="contenedorCarta">
                <nz-card id="cartitaaa" class="hvr-curl-top-right" *ngFor="let frame of frames; index as id" nzHoverable style="width:240px" [nzCover]="coverTemplate">
                    <nz-card-meta nzTitle="{{frame.name}}" nzDescription="{{frame.name}}"></nz-card-meta>
                    <img id="imgcartitaa" src="{{frame.img}}" alt="">
                    <button nz-button nzType="primary"  [routerLink]="['/tecnologi', id]">View</button>
                </nz-card>
            </div>
            
              
            <!-- <div class="card" id="aboutme" style="width: 18rem;">
             
              <div class="card-body">
                <div id="contenttecno" *ngFor="let frame of frames" class="hvr-skew-backward hvr-curl-top-right">
                      <img id="loguito" src="{{frame.img}}" alt="">
                      <p>{{frame.name}}</p>
                </div>
               
               
              </div>
            </div> -->
           
            <hr id="hr2">
            <br>
            <h2 style="color: gray" id="escri"><strong style="color: greenyellow">E</strong>scribeme un comentario</h2>
           
            </blockquote>
            <formComponent (mailer)="enviarmail($event)"></formComponent>
            <!-- con novalidate se activa la propiedad invalid en el boton accediendo por el formgroup "user" -->
            <!-- <form  id="formu" [formGroup]="user" novalidate (ngSubmit)="enviarmail()">
              <fieldset>
                <label style="text-align: start" class="control-label" for="readOnlyInput">Ingrese su Email</label>
                <input class="form-control " formControlName="email" id="readOnlyInput" type="email" placeholder="Ingrese su Email" >
                <div class="error"*ngIf="user.get('email').hasError('required') && user.get('email').touched">Email requerido...</div>
                <br>
                <label for="exampleTextarea">Comentario</label>
                <textarea class="form-control " name="texto"formControlName="texto" id="exampleTextarea" rows="3" ></textarea>
                <div class="error"*ngIf="user.get('texto').hasError('required') && user.get('texto').touched">Texto requerido...</div>
                <button type="submit" style="width: 100%; margin-top: 10%" class="btn " [disabled]="user.invalid" >Enviar</button>
              </fieldset>
            </form> -->
          </div>
             
          <div #footer id="footer"> 
           
               <button *ngIf="!show" id="fab"  type="button"(click)="contact()"><img src="../../assets/css/user.png"/><p>Contactactame</p></button> 
              <blockquote class="blockquote text-center">
                  <div *ngIf="show" id="contactos">
                      <span class="icon-gmail"></span>
                      <span class="icon-instagram1"></span>
                      <span class="icon-whatsapp1"></span>
                      <span class="icon-facebook"></span>
                
                  </div>
                  <!-- https://www.freelogodesign.org/file/app/client/thumb/e1dcdd78-1bfb-482b-a3d1-4c1af15349b8_200x200.png?1563561635271 -->
                 
                  <img src="../../assets/imgnes/logoHernan.png" id="logofot">
           
                </blockquote>
               
          </div>
         
    </div>
    
</div>



