
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  opacity: 0.9;
  z-index: 999999999999999;
  background-color: black;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-size: 1.4rem;
  left: 0;
 
}
nz-alert{
  width: 100%;
  position: absolute;
  top: 88%;
  z-index: 10000000000000000000;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
#alert2{
  width: 100%;
  position: absolute;
  top: 81%;
  z-index: 10000000000000000000;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*keyframe del alerta*/
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/*se termina aca el keyframe*/
h1{
  color: gray !important;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
}
.nav-link:active{
  color: greenyellow!important;
}
.content-page{
  margin-top: 5%;
  height: 100%;
  
}
#hr1{
  box-sizing: content-box;
  height: 30px;
  margin: 0;
  /*border: solid 1px greenyellow;*/
  box-shadow: black 0px 0px 2px 0px;
  /* background-color: red; */
  /*background-image: url(../../assets/imgnes/baner.jpg);
  background-position: center;
  background-size: cover;
  /* border-bottom: darkseagreen; */
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

#hr2{
  box-sizing: content-box;
  height: 30px;
  margin: 0;
  /*border: solid 1px greenyellow;*/
  box-shadow: black 0px 0px 2px 0px;
  /* background-color: red; 
  background-image: url(../../assets/imgnes/baner.jpg);
  background-position: center;
  background-size: cover;
  /* border-bottom: darkseagreen; */
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-bottom-right-radius: 100%;
 border-top-left-radius: 100%;
}
#imgcartitaa{
  width: 40px;
  height: 40px;
}
#log{
  width: 80px;
  height: 80px;
  font-weight: 100;
}
#header1{
  width: 100%;
  height: 300px;
  background-color: gray;
  filter: blur(1px);
  margin-bottom: 20px;
  
}
#header{
  width: 100%;
  height: 300px;
  background-image: url('../../assets/web-developer.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(1px);
  margin-bottom: 20px;
  
}
.tab-pane{
  margin-top: 60px;
}
.jumbotron{
  background-color: white;
}
.display-3{
  margin-top: -20px;
  color: gray;
}
.row{
  position: relative;
  margin-bottom: 10px;
}
#col1{
    width: 100%;
    height: 100%;
 
}
#col2{
    color: #6c757d;

}
.card{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 8%;
    -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}




#ulink{
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  
}
 #ulink>li{
   list-style: none;
   
 }
 #ulali>li{
   list-style: none;
 }

 @media(max-width:376px){
   #ulink>li>a{
     font-size: 0.98rem;
   }
 }
.card-header{
    text-align: center;
}
.card-body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.card-title{
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#yo{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: 8%;
    margin-top: 8%;
}

#cuadro{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: solid 10px black;
}
#contenedorCarta{
  width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-image: url(../../assets/web-developer.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#cartitaaa{
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
  
}
h1{
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10%;
    font-size: 2.5rem;
    
}

.btn{
    margin-top: 5%;
    width: 20%;
    margin-bottom: 2%;
    border: none;
    background-color: black;
    color:white;
    

}
#matrix{
  width: 100%;
  height: 300px;
  background-image: url('../../assets/web-developer.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
  margin-bottom: 10%;
}
#matrixH1{
  align-items: center;
}
#cartitas{
  margin-left: 10%;
}
@media(max-width:376px){
  #cartitas{
    margin-left: -8%;
  }
  #matrix{
    width: 100%;
    height: 300px;
    background-image: url('../../assets/web-developer.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    margin-bottom: 10%;
  }
}
blockquote>h1>strong{
  color: #2098D1!important;
  

}
.btn:active{
  color: white;
}
.btn:focus{
  color: white;
}
#piso{
  margin-top: 10%;
 
}
#prefin{
  margin-top: 20px;
  margin-bottom: 20px;
}
#body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 250px;
  opacity: 0.8;
}



blockquote{
 position: relative;

}
#proyec{
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 50px;
  font-size: 2.5rem;
  color: gray;
}

.bazul{
  color: greenyellow !important;
}
#fab{
  position:fixed;
  bottom: 20px;
  left:20px;
  width: auto;
  font-size:20px ;
  max-width: 150px;
  border-radius: 100%;
  animation: ctaBody 5s ease-in-out infinite;
  min-width: 50px;
  color: white;
  opacity: 0.8;
  border: none;
  z-index: 9999999999999;

}
#fab>img{
  width: 50px;
  height: 50px;
  background-image: url(../../assets/css/user.png) no-repeat center center;
  /*background: url(img/urg_logo.png) no-repeat center center;*/
  background-size: 100%;
  box-sizing: border-box;
  opacity: 1;
  margin-right: 130px;
  border: none;
}

#fab>p{
  position: absolute;
  width: 90px;
  height: 100px;
  right: 12px;
  bottom: -79px;
  left: 31%;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: left;
  color: black;
  animation: ctaText 5s ease-in-out infinite;
  opacity: 0;
  box-sizing: border-box;
}
.colorLink{
  color: greenyellow!important;
}

#contactos{
  position: fixed;
  top: 90%;
  left: 0;
  width: 40%;
  max-width:200px;
  margin: auto;
  display: flex;
  background-color: transparent ;
  justify-content: space-around;
  flex-direction: row;
  z-index: 999999999999999;
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 
}
#aboutme{
  margin: auto;
  
}
#contactos>span{
  cursor: pointer;
  font-size: 1.8rem;
}

#logofot{
  margin-top: 30px;
}


#myTabContent{
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  margin-top: -64px;
}
#myTabContent2{
  margin-top: -64px;
}

#contenttecno{
  display: flex;
  flex-direction: row;
 
}
#formu{
  margin-top: 10%;
  max-width: 30%;
  min-width:300px ;
  margin: auto;
}
#escri{
  font-family: 'Quicksand', sans-serif;
  
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 5%;
}
.error{
  color: red;
}
.loading{
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgnes/load5.gif');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.loading>h1{
  position: fixed;
  top: 70%;
  -webkit-animation: text-blur-out 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
	 animation: text-blur-out 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;

}
@media(min-width:765px){
  .loading>h1{
    position: fixed;
    top: 70%;
    left: 12%;
    font-size: 2rem;
    
  }
}

@media(min-width:1023px){
  .loading>h1{
    position: fixed;
    top: 70%;
    left: 16%;
    font-size: 2.3rem;
    
  }
}
@media(min-width:1026px){
  .loading>h1{
    position: fixed;
    top: 70%;
    left: 20%;
    font-size: 3rem;
    
  }
}
@media(max-width:426px){
  .loading>h1{
    position: fixed;
    top: 70%;
    left: 1%;
    font-size: 1.5rem;
    
  }
  #escri{
   font-size: 1.5rem;
   
  }
}
@media(max-width:376px){
  .loading>h1{
    position: fixed;
    top: 70%;
    left: 2%;
    font-size: 1.2rem;
    
  }
}



fieldset>textarea{
  resize: none;
}


#loguito{
  width: 30px;
  height: 30px;
  margin-right: 10px;
 
}

.classabout{
  background-color: #2098D1;
  color:white;
}
@media(max-width:769px){
  .row{
    position: relative;
    margin-bottom: 10px;
    margin-top: 12%;
  }
  #header{
    width: 100%;
    height: 300px;
    background-image: url('../../assets/web-developer.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(1px);
    margin-bottom: 20px;
    
  }
}
@media(max-width:430px){
  .row{
    position: relative;
    margin-bottom: 10px;
    margin-top: 15%;
  }
  #header{
    width: 100%;
    height: 300px;
    background-image: url(../../assets/web-developer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(1px);
    margin-bottom: 20px;
    
  }
  .display-3{
    margin-top: 10%;
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
   
  }
  #proyec{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 50px;
    font-size: 2rem;
    color: gray;
  }
  #ulink{
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
  }
}
@media(max-width:380px){
  .row{
    position: relative;
    margin-bottom: 10px;
    margin-top: 25%;
  }
  #header{
    width: 100%;
    height: 300px;
    background-image: url(../../assets/web-developer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(1px);
    margin-bottom: 20px;
    
  }
  .display-3{
    margin-top: 0;
    color: gray;
    font-size: 2rem;
  }
}



@media(min-width:960px){
  .card{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 10%;
    -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
}

/*keyframe del texto*/
@-webkit-keyframes ctaText {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  93% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*keyframe de roseta*/
@-webkit-keyframes ctaBody {
  0% {
    width: 62px;
    border-radius: 45px;
  }
  17% {
    width: 62px;
    border-radius: 45px;
  }
  29% {
    width: 62px;
    border-radius: 45px;
  }
  31% {
    width: 62px;
    border-radius: 45px;
  }
  32% {
    width: 62px;
    border-radius: 45px;
  }
  37% {
    width: 150px;
    border-radius: 45px;
  }
  39% {
    width: 150px;
    border-radius: 45px;
  }
  40% {
    width: 150px;
    border-radius: 45px;
  }
  95% {
    width: 150px;
    border-radius: 45px;
  }
  98% {
    width: 62px;
    border-radius: 45px;
  }
  100% {
    width: 62px;
    border-radius: 45px;
  }
}
/*keyframe de el navbar*/
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.9;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.9;
  }
}
/*keyframe de devewlpment*/
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/*keyfram de carta*/
@-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  /*contac keyframe*/
  @-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*animacion del texto del loading*/

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

