<div id="body">
    <nav id="navbaar" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#jumbo1">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#piso">Link</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#jumbo2">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link colorLink" href="#myTabContent">Portfolio<span class="sr-only">(current)</span></a>
            </li>
           
          </ul>
         
        </div>
      </nav>
  <div class="container" data-spy="scroll" data-target="#navbaar">
    <div class="row">
        
      <div id="col1" class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
           
            <div class="card-body">
              <div id="cuadro">
                  <img id="yo" src="../../assets/yo.jpg"  alt="">
              </div>
               <h5 class="card-title">Hernan Dario Gomez</h5>
               <h6 class="card-subtitle">Frontend Developer</h6>
            </div>
        </div>
      </div>
      <div id="col2" class="col-md-6 col-sm-12">
        <h1>About me</h1>
        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            <button type="button" class="btn btn-outline-dark hvr-rectangle-in ">Success</button>
          </blockquote>
        
      </div>
    </div>
    <div id="header">

    </div>
    <div id="jumbo1" class="jumbotron">
        <blockquote class="blockquote text-center">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-outline-dark hvr-rectangle-in" href="#" role="button">Learn more</a>
        </p>
        </blockquote>
    </div>
    <div id="header">

    </div>
    <div id="piso"  class="col-md-12 col-sm-12">
        <div class="card">
           
            <div class="card-body">
              <div id="cuadro">
                  <img id="yo" src="../../assets/yo.jpg"  alt="">
              </div>
               <h5 class="card-title">Hernan Dario Gomez</h5>
               <h6 class="card-subtitle">Frontend Developer</h6>
            </div>
        </div>
      </div>
      <div id="col2" class="col-md-12 col-sm-12">
        <h1>About me</h1>
        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            <button type="button" class="btn btn-outline-dark hvr-rectangle-in">Success</button>
          </blockquote>
        
      </div>
      <div id="jumbo2" class="jumbotron">
          <blockquote class="blockquote text-center">
          <h1 class="display-3">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-outline-dark hvr-rectangle-in" href="#" role="button">Learn more</a>
          </p>
          </blockquote> 
      </div>
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
          </li>
         
          
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade" id="home">
              <blockquote class="blockquote text-center">
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
           
          </div>
          <div id="prefin" class="tab-pane fade active show" id="profile">
              <blockquote class="blockquote text-center">
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
          </div>
         
        </div>
</div>
    <div id="footer"> 
        <button *ngIf="!show" id="fab" type="button"(click)="contact()" class="hvr-shutter-in-horizontal"><span class="icon-home"></span></button>
        <blockquote class="blockquote text-center">
            <div *ngIf="show" id="contactos">
                <span class="icon-gmail"></span>
                <span class="icon-instagram1"></span>
                <span class="icon-whatsapp1"></span>
                <span class="icon-facebook"></span>
          
            </div>
              
            
          </blockquote>
    </div>
</div>



